@import url(https://fonts.googleapis.com/css?family=Roboto:300);

#table {
  overflow: auto;
}
.data-grid {
  overflow-x: hidden;
}
.active {
  background: #b3b3b3
}
.control {
  width: 50%;
  margin: 20px 0px 0px 20px
}
.control a {
  text-decoration: none;
}
.control span {
  margin-right: 15px;
}

table {
  border-collapse: collapse;
  width: 50%;
  margin: 5px 0px 0px 20px
}

table td, table th {
  border: 1px solid #ddd;
  padding: 4px;
}

table tr:nth-child(even){background-color: #f2f2f2;}

table tr:hover {background-color: #ddd;}

table th {
  padding-top: 6px;
  padding-bottom: 6px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}

.dashboard-header {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  min-height: 70px;
  height: 70px;
  margin-left: 192px;
  padding: 10px 10px 10px 10px;
  background: #f5f5f5
}

.data-grid {
  position: absolute;
  top: 90px;
  left: 0;
  margin-left: 200px;
  width: 100%;
}

.dashboard-header div{
  display: inline-block;
  margin: 0px 25px 0px 15px;
}

.dashboard-header a{
 font-size: 100%;
 text-decoration: none;
}

#logout{
  margin-top: 50px;
}
.side-nav a {
  text-decoration: none;
  color: #ffffff;
  display: block;
  width: 100%;
  padding: 10px 10px 10px 10px
}



.side-nav a:hover{
  background: #b3b3b3
}

.side-nav header{
  margin-left: 20px;
}
.side-nav {
  background: #4CAF50;
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  font-family: "Roboto", sans-serif;
  color: #FFFFFF;
}

i ~ span{
  margin-left: 15px;
}

.dashboard {
  background: #ffffff
}

.login-page {
  width: 360px;
  padding: 15% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  margin-bottom: 10px;
}
.form button:hover,.form button:active,.form button:focus {
  background: #43A047;
}

.form button:disabled{
  background: #b3b3b3
}

.form span{
  color: rgb(247, 14, 14);
  margin-top: 10px;
}

.loader {
  position: absolute;
  left: 45%;
  z-index: 1;
  border: 8px solid #f3f3f3;
  border-radius: 50%;
  border-top: 8px solid #4CAF50;
  width: 25px;
  height: 25px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

body {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#menu{
  display: none;
}

@media only screen and (max-width: 992px) {
  .side-nav {
      width: 0px;
  }
  .dashboard-header{
    margin-left: 0px;
  }
  .data-grid {
    margin-left: 0px;
  }
  #menu{
    display: inline;
  }
}

