<header ng-style="margin" class="dashboard-header">
    <div id="menu">
        <a href="" ng-click="openNav()">
            <i class="fa fa-reorder"></i>
        </a>
    </div>
    <div>
        <h2>
            <i class="fa fa-tag"></i>
            <span>{{headerTitle}}</span>
        </h2>
    </div>
</header>