<div class="side-nav" ng-style="sideNavWidth">
    <header>
      <h3>AWS Cognito Data</h3>
      <h4>
        <i class="fa fa-user-circle-o"></i>
        <span>{{user}}</span>
      </h4>
    </header>
  
  
    <a ui-sref="home" ng-class="{'active' : currentState == 'home'}">
      <i class="fa fa-tag"></i>
      <span>Category</span>
    </a>
  
    <a ui-sref="product" ng-class="{'active' : currentState == 'product'}">
      <i class="fa fa-shopping-basket"></i>
      <span>Product</span>
    </a>
  
    <a ui-sref="transaction" ng-class="{'active' : currentState == 'transaction'}">
      <i class="fa fa-exchange"></i>
      <span>Transaction</span>
    </a>
  
    <a id="logout" href="" ng-click="logout()">
      <i class="fa fa-sign-out"></i>
      <span>Logout</span>
    </a>
  
  
  </div>