<sidebar></sidebar>
<dbheader></dbheader>


<div ng-style="margin" class="data-grid">

  <table id="table">
    <thead>
      <tr>
        <th ng-repeat="header in headers">{{header}}</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="tableRow in tableRows">
        <td ng-repeat="col in tableRow track by $index" nowrap>{{col}}</td>
      </tr>
      
    </tbody>
  </table>
</div>