<div class="login-page">
    <div class="form">
        <form name="loginForm" class="login-form" ng-submit="login()">
            <span ng-show="loginForm.username.$touched && loginForm.username.$invalid">The username is required.</span>
            <input name="username" ng-model="username" type="text" placeholder="Username" required/>
            <span ng-show="loginForm.password.$touched && loginForm.password.$invalid">The password is required.</span>
            <input name="password" ng-model="password" type="password" placeholder="Password" required/>
            <button ng-if="!isLoggingIn" ng-disabled="loginForm.username.$invalid || loginForm.password.$invalid">Login</button>
            <span ng-if="isInvalidCredentials">Invalid credentials</span>
            <div ng-if="isLoggingIn" class="loader"></div>
        </form>
    </div>
</div>